<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>

<ul style="list-style-type: square; ">
    {% for m in menu %}
    <li>
        <p>
            <a href="{% url m.url%}">
        <h2>{{m.title}}</h2>
        </a>
        </p>
    </li>
    {% endfor %}
</ul>
{% for p in posts %}
    <li>
        <h2>{{p.FIO}}</h2>
         <p>{{p.interesting}}</p>
            {% if not forloop.last %}
               <hr>
        {%endif%}
    </li>
    {% endfor %}
</body>
</html>